//
// Pinout for TangConsoleDCJ11MEM rev.2 board
//
// clock (50MHz clock)
// 
IO_LOC "sys_clk50" V22; IO_PORT "sys_clk50" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=OFF;

//
// SW (on-board user keys)
//
IO_LOC "sw1_n"  AA13; IO_PORT "sw1_n" PULL_MODE=UP IO_TYPE=LVCMOS15;
IO_LOC "sw2_n"  AB13; IO_PORT "sw2_n" PULL_MODE=UP IO_TYPE=LVCMOS15;

//
// LED (on-board LEDs)
//
IO_LOC "led_r"  U12; IO_PORT "led_r"  PULL_MODE=NONE IO_TYPE=LVCMOS33; // READY
IO_LOC "led_b"  G11; IO_PORT "led_b"  PULL_MODE=NONE IO_TYPE=LVCMOS33; // DONE

//
// FPGA UART
//
IO_LOC "USB_TX" U15; IO_PORT "USB_TX" PULL_MODE=NONE IO_TYPE=LVCMOS15;
IO_LOC "USB_RX" V14; IO_PORT "USB_RX" PULL_MODE=NONE IO_TYPE=LVCMOS15;

//
// on board SDCard slot
//
IO_LOC "sd_clk"   V15; IO_PORT "sd_clk"  PULL_MODE=NONE IO_TYPE=LVCMOS15;
IO_LOC "sd_mosi"  Y16; IO_PORT "sd_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS15;
IO_LOC "sd_miso" AA15; IO_PORT "sd_miso" PULL_MODE=NONE IO_TYPE=LVCMOS15;
IO_LOC "sd_cs_n"  W15; IO_PORT "sd_cs_n" PULL_MODE=NONE IO_TYPE=LVCMOS15;
// sd_det of TangConsole seems not working :-(
IO_LOC "sd_det_n" Y13; IO_PORT "sd_det_n" PULL_MODE=UP IO_TYPE=LVCMOS15;

// pmod0
// +-----+-----+------+------+------+------+
// | 3V3 | GND |6(C22)|4(F18)|2(G21)|0(V18)|
// +-----+-----+------+------+------+------+
// | 3V3 | GND |7(B22)|5(E18)|3(G22)|1(V19)|
// +-----+-----+------+------+-------+-----+
//IO_LOC "pmod0[0]" V18; IO_PORT "pmod0[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod0[1]" V19; IO_PORT "pmod0[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod0[2]" G21; IO_PORT "pmod0[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod0[3]" G22; IO_PORT "pmod0[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod0[4]" F18; IO_PORT "pmod0[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod0[5]" E18; IO_PORT "pmod0[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod0[6]" C22; IO_PORT "pmod0[6]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod0[7]" B22; IO_PORT "pmod0[7]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// Secondary SDCard slot on pmod0 (for DIGILENT Pmod)
// +-----+-----+---------+---------+---------+---------+
// | 3V3 | GND |  CLK    |MISO(D0) |MOSI(CMD)| ~CS(D3) |
// +-----+-----+---------+---------+---------+---------+
// | 3V3 | GND | NC(~WP) |  ~DET   | NC(D2)  |  NC(D1) |
// +-----+-----+---------+---------+---------+---------+
//
// MISO(D0) should be pulled up 10k to 3V3
IO_LOC "sd2_cs_n"  V18; IO_PORT "sd2_cs_n"  PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd2_mosi"  G21; IO_PORT "sd2_mosi"  PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd2_miso"  F18; IO_PORT "sd2_miso"  PULL_MODE=UP   IO_TYPE=LVCMOS33;
IO_LOC "sd2_det_n" E18; IO_PORT "sd2_det_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd2_clk"   C22; IO_PORT "sd2_clk"   PULL_MODE=NONE IO_TYPE=LVCMOS33;

// DIGILENT's Pin numbers
// +---+---+---+---+---+---+
// |3V3|GND| 4 | 3 | 2 | 1 |
// +---+---+---+---+---+---+
// |3V3|GND|10 | 9 | 8 | 7 |
// +---+---+---+---+---+---+
//
// old TANG PMOD TF CARD (v1)
// +-----+-----+---------+---------+---------+---------+
// | 3V3 | GND |  ~CD    |  NC     |  CLK    | ~CS(D3) |
// +-----+-----+---------+---------+---------+---------+
// | 3V3 | GND |  NC(D1) |MISO(D0) |MOSI(CMD)|  NC(D2) |
// +-----+-----+---------+---------+---------+---------+

// pmod1
// +-----+-----+------+------+------+------+
// | 3V3 | GND |6(E21)|4(E22)|2(F19)|0(W19)|
// +-----+-----+------+------+------+------+
// | 3V3 | GND |7(D21)|5(D22)|3(F20)|1(W20)|
// +-----+-----+------+------+-------+-----+
//IO_LOC "pmod1[0]" W19; IO_PORT "pmod1[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[1]  W20; IO_PORT "pmod1[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[2]" F19; IO_PORT "pmod1[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[3]" F20; IO_PORT "pmod1[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[4]" E22; IO_PORT "pmod1[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[5]" D22; IO_PORT "pmod1[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[6]" E21; IO_PORT "pmod1[6]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[7]" D21; IO_PORT "pmod1[7]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// pmod1 for debug
// +-----+-----+--------+--------+--------+--------+
// | 3V3 | GND |LED_RGB |   NC   |   NC   |   NC   |
// +-----+-----+--------+--------+--------+--------+
// | 3V3 | GND |   NC   |   NC   |   NC   | LOG_TX |
// +-----+-----+--------+--------+--------+--------+
IO_LOC "LOG_TX"  W20; IO_PORT "LOG_TX"  PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "LED_RGB" E21; IO_PORT "LED_RGB" PULL_MODE=NONE IO_TYPE=LVCMOS33;

//
// DCJ11 pins
//
// SDRAM1 CONN 1, 3, 5, ..., 39 // R19 is a "CPU" pin
IO_LOC "DAL[6]"   R19; IO_PORT  "DAL[6]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//01
IO_LOC "DAL[7]"   U21; IO_PORT  "DAL[7]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//03
IO_LOC "DAL[8]"   R17; IO_PORT  "DAL[8]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//05
IO_LOC "DAL[0]"   T18; IO_PORT  "DAL[0]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//07
IO_LOC "EVENT_n"  W17; IO_PORT  "EVENT_n"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//09
//      cn1_11 = +5V
IO_LOC "IRQ0"     W22; IO_PORT  "IRQ0"     PULL_MODE=NONE IO_TYPE=LVCMOS33;//13
IO_LOC "IRQ2"     P17; IO_PORT  "IRQ2"     PULL_MODE=NONE IO_TYPE=LVCMOS33;//15
IO_LOC "DAL[10]"  N14; IO_PORT  "DAL[10]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//17
IO_LOC "DAL[12]"  V20; IO_PORT  "DAL[12]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//19
IO_LOC "DAL[14]"  Y22; IO_PORT  "DAL[14]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//21
IO_LOC "DAL[1]"   AB22; IO_PORT "DAL[1]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//23
IO_LOC "DAL[3]"   AA21; IO_PORT "DAL[3]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//25
IO_LOC "DAL[5]"   AB20; IO_PORT "DAL[5]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//27
IO_LOC "BUFCTL_n" AA18; IO_PORT "BUFCTL_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;//29
IO_LOC "DALH[17]" Y19; IO_PORT  "DALH[17]" PULL_MODE=NONE IO_TYPE=LVCMOS33;//31
IO_LOC "DALH[16]" T20; IO_PORT  "DALH[16]" PULL_MODE=NONE IO_TYPE=LVCMOS33;//33
IO_LOC "CLK2"     U18; IO_PORT  "CLK2"     PULL_MODE=NONE IO_TYPE=LVCMOS33;//35
IO_LOC "INIT_n"   R16; IO_PORT  "INIT_n"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//37
IO_LOC "INIT_SW"  R14; IO_PORT  "INIT_SW"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//39

// SDRAM1 CONN 2, 4, 6, ..., 40
IO_LOC "AIO[0]"   P19; IO_PORT  "AIO[0]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//02
IO_LOC "AIO[1]"   T21; IO_PORT  "AIO[1]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//04
IO_LOC "AIO[2]"   P16; IO_PORT  "AIO[2]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//06
IO_LOC "AIO[3]"   R18; IO_PORT  "AIO[3]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//08
IO_LOC "HALT"     V17; IO_PORT  "HALT"     PULL_MODE=NONE IO_TYPE=LVCMOS33;//10
//      cn1_12 = GND
IO_LOC "IRQ1"     W21;  IO_PORT "IRQ1"     PULL_MODE=NONE IO_TYPE=LVCMOS33;//14
IO_LOC "DAL[9]"   N17;  IO_PORT "DAL[9]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//16
IO_LOC "DAL[11]"  N13;  IO_PORT "DAL[11]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//18
IO_LOC "DAL[13]"  U20;  IO_PORT "DAL[13]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//20
IO_LOC "DAL[15]"  Y21;  IO_PORT "DAL[15]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//22
IO_LOC "DAL[2]"   AB21; IO_PORT "DAL[2]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//24
IO_LOC "DAL[4]"   AA20; IO_PORT "DAL[4]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//26
IO_LOC "ABORT_n"  AA19; IO_PORT "ABORT_n"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//28
IO_LOC "ALE_n"    AB18; IO_PORT "ALE_n"    PULL_MODE=NONE IO_TYPE=LVCMOS33;//30
IO_LOC "SCTL_n"   Y18;  IO_PORT "SCTL_n"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//32
IO_LOC "GPIO_RX"  N15;  IO_PORT "GPIO_RX"  PULL_MODE=UP   IO_TYPE=LVCMOS33;//34
IO_LOC "CONT_n"   U17;  IO_PORT "CONT_n"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//36
IO_LOC "HALT_SW"  P15;  IO_PORT "HALT_SW"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//38
IO_LOC "GPIO_TX"  P14;  IO_PORT "GPIO_TX"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//40

// SDRAM0 CONN 1, 3, 5, ..., 39
//IO_LOC "dbg[0]" E14 ; IO_PORT "dbg[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "dbg[1]" C15 ; IO_PORT "dbg[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "dbg[2]" B13 ; IO_PORT "dbg[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "dbg[3]" A14 ; IO_PORT "dbg[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

//IO_LOC "cn0_01" E14 ; IO_PORT "cn0_01" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_03" C15 ; IO_PORT "cn0_03" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_05" B13 ; IO_PORT "cn0_05" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_07" A14 ; IO_PORT "cn0_07" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_09" B16 ; IO_PORT "cn0_09" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//      cn0_11 = +5V
//IO_LOC "cn0_13" A16 ; IO_PORT "cn0_13" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_15" A20 ; IO_PORT "cn0_15" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_17" A21 ; IO_PORT "cn0_17" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_19" B18 ; IO_PORT "cn0_19" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_21" C17 ; IO_PORT "cn0_21" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_23" A19 ; IO_PORT "cn0_23" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_25" D15 ; IO_PORT "cn0_25" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_27" D16 ; IO_PORT "cn0_27" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_29" F14 ; IO_PORT "cn0_29" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_31" E17 ; IO_PORT "cn0_31" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_33" F21 ; IO_PORT "cn0_33" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_35" C20 ; IO_PORT "cn0_35" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_37" D19 ; IO_PORT "cn0_37" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_39" C19 ; IO_PORT "cn0_39" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// SDRAM0 CONN 2, 4, 6, ..., 40
//IO_LOC "cn0_02" E13 ; IO_PORT "cn0_02" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_04" C14 ; IO_PORT "cn0_04" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_06" C13 ; IO_PORT "cn0_06" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_08" A13 ; IO_PORT "cn0_08" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_10" B15 ; IO_PORT "cn0_10" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//      cn0_12 = GND
//IO_LOC "cn0_14" A15 ; IO_PORT "cn0_14" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_16" B20 ; IO_PORT "cn0_16" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_18" B21 ; IO_PORT "cn0_18" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_20" B17 ; IO_PORT "cn0_20" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_22" D17 ; IO_PORT "cn0_22" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_24" A18 ; IO_PORT "cn0_24" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_26" D14 ; IO_PORT "cn0_26" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_28" E16 ; IO_PORT "cn0_28" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_30" F13 ; IO_PORT "cn0_30" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_32" F16 ; IO_PORT "cn0_32" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_34" F15 ; IO_PORT "cn0_34" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_36" D20 ; IO_PORT "cn0_36" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_38" E19 ; IO_PORT "cn0_38" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "cn0_40" C18 ; IO_PORT "cn0_40" PULL_MODE=NONE IO_TYPE=LVCMOS33;
